html, body {
    overflow-x: hidden;
    -ms-overflow-style: none;
}

.fullscreen {
    height:100vh;
    width: 100%;
    display: table;
}



.backgroundBlue {
    background-image: url(graypattern.png);
    /* background: rgb(206,206,206); 
    background: -moz-linear-gradient(-45deg, rgba(206,206,206,1) 0%, rgba(89,106,114,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(206,206,206,1) 0%,rgba(89,106,114,1) 100%);
    background: linear-gradient(135deg, rgba(206,206,206,1) 0%,rgba(89,106,114,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#596a72',GradientType=1 ); 
    */
}

.vertical-center{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.error-message {
    width: 100%; 
    min-height: 24px; 
    display: block; 
    color: #b85555;
}

.fullheight-green {
    min-height:100vh;
    background-color: #496d89;/*#aec4c1;*/
    overflow: visible;
    padding-bottom: 20px;
    border-top: 1px solid #666;
    opacity: 0.75;
}

.fullheight-yellow {
    min-height:100vh;
    background-color: #d4ba6a; /*cfa9a9;*/
   
    overflow: visible;
    padding-bottom: 20px;
    border-left: 1px solid #666;
    border-top: 1px solid #666;
    opacity: 0.75;
}

.fullheight-red {
    min-height:100vh;
    background-color: #d4886a; /*d8da95;*/
    overflow: visible;
    padding-bottom: 20px;
    border-left: 1px solid #666;
    border-top: 1px solid #666;    
    opacity: 0.75;
}

.fullheight-green-archive {
    background-color: #afafaf;
    min-height:100vh;
    overflow: visible;
    padding-bottom: 20px;
    border-top: 1px solid #666;
    opacity: 0.75;
}

.fullheight-yellow-archive {
    background-color: #bbb;
    min-height:100vh;
    overflow: visible;
    padding-bottom: 20px;
    border-top: 1px solid #666;
    opacity: 0.75;}

.fullheight-red-archive {
    background-color: #999;
    min-height:100vh;
    overflow: visible;
    padding-bottom: 20px;
    border-top: 1px solid #666;
    opacity: 0.75;}

.retroItem {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    max-width: 95%;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #000000;
}

.greenItem {
    background-color: transparent;
    padding: 7px;
}

.yellowItem {
    background-color: transparent;
    padding: 7px;
}

.redItem {
    background-color: transparent;
    padding: 7px;
}

.greenItem textarea {
    margin-top: 3px;
    font-size: 1.5em;
    width: 100%;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #123652; /*5e9671; */
    background-color: #718EA4;/*ace0bf;*/
    box-shadow: none;
    overflow: hidden;
    outline: none;
    resize: none;
    color: #000;
}

.yellowItem textarea {
    margin-top: 3px;
    font-size: 1.5em;
    width: 100%;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #806515;/*944a4a;*/
    background-color: #ffeaaa;/*f3b5b5;*/
    box-shadow: none;
    overflow: hidden;
    outline: none;
    resize: none;
}

.redItem textarea {
    margin-top: 3px;
    font-size: 1.5em;
    width: 100%;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #803315;/*b3a703;*/
    background-color: #ffc2aa;/*ebebad;*/
    box-shadow: none;
    overflow: hidden;
    outline: none;
    resize: none;
}

.listItem {
    background-color: #fff;
    opacity: 0.80;
    color: #000;
    font-size: 1.5em;
    overflow: hidden;
}

.listItemCompleted {
    background-color: #dadada;
    opacity: 0.65;
    color: #000;
    font-size: 1.5em;
}

.itemBase {
    display: table-row; 
    min-height: 50px; 
}

.itemHighlight {
    font-size: 2.75em !important;
    color: #000 !important; 
    background-color: #fff !important;
    opacity: 1;
}

.itemSubdue {
    font-size: 1.5em;
    color: #ccc;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.actionItemHighlight {
    font-size: 2em;
    color: #000;
    background-color: #fff;
}

.badge-error {
    background-color: #b94a48;
}
.badge-error:hover {
    background-color: #953b39;
}
.badge-warning {
    background-color: #f89406;
}
.badge-warning:hover {
    background-color: #c67605;
}
.badge-success {
    background-color: #468847;
}
.badge-success:hover {
    background-color: #356635;
}
.badge-info {
    background-color: #3a87ad;
}
.badge-info:hover {
    background-color: #2d6987;
}

/* tab color */
.nav-tabs>li>a {
    background-color: transparent;
    border-color: #777;
    color: #000;;
    margin-bottom: 0;
    font-size: 1.1em;
}

.nav-tabs {
    position: relative;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    z-index: 1000
 }

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #000;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #444;
    /* border-bottom: 1px #b5b2b6 solid; */
    font-size: 1.1em;
}

/* hover tab color */
.nav-tabs>li>a:hover {
    border-color: #000;
    color: #000;
    background-color: transparent;
    font-size: 1.1em;
}

.tab-content {
    margin: 0;
    padding:0;
    border-top: 0px rgb(212, 212, 212) solid;
}

li.happyTab.active{
    border-bottom: #7690a5 1px solid;
}

li.mehTab.active{
    border-bottom: #e0c87e 1px solid;
}

li.sadTab.active{
    border-bottom: #e2a3a3 1px solid;
}

li.happyTabArchive {
    opacity: 0.75;
}

li.mehTabArchive {
    opacity: 0.75;
}

li.sadTabArchive {
    opacity: 0.75;
}

li.happyTabArchive.active{
    border-bottom: #d6d4d4 1px solid;
}

li.mehTabArchive.active{
    border-bottom: rgb(224, 223, 223) 1px solid;
}

li.sadTabArchive.active{
    border-bottom: rgb(190, 190, 190) 1px solid;
}


.menuRed {
    color: #990000;
}
.menuBlue {
    color: #2b71cc;
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #444;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #444;
   opacity:  1;
   font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #444;
   opacity:  1;
   font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #444;
   font-style: italic;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #444;
   font-style: italic;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #444;
   font-style: italic;
}